.app {
   font-family: $fontBook;
   margin-left: auto;
   margin-right: auto;
   max-width: 1200px;
}

body {
   .toasted-container .toasted.info--modal {
      color: map-get($colors, black);
      background-color: map-get($colors, white);
      box-shadow: 1px 1px 7px 0px map-get($colors, shadow);
      max-width: 600px;
      line-height: 1.35;
      padding: map-get($margins, m1) 25px map-get($margins, m1) map-get($margins, m1);
      font-family: $fontBook;

      a {
         font-family: $fontBook;
         font-weight: 400;
         margin-left: map-get($margins, m3);
         background-color: transparent;
         border: 1px solid map-get($colors, gray);
         border-radius: $borderRadius;
         color: map-get($colors, gray);
         padding: map-get($margins, m1);
         cursor: pointer;
         transition: $transition;
         text-transform: initial;
      }

      a:hover {
         text-decoration: none;
         background-color: map-get($colors, gray);
         color: map-get($colors, lightGray);
      }
   }
}
