@font-face {
   font-family: 'AvenirBook';
   src: url('~@/assets/scss/basic/Fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix');
   src: url('~@/assets/scss/basic/Fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix') format('eot'),
      url('~@/assets/scss/basic/Fonts/065a6b14-b2cc-446e-9428-271c570df0d9.woff2') format('woff2'),
      url('~@/assets/scss/basic/Fonts/65d75eb0-2601-4da5-a9a4-9ee67a470a59.woff') format('woff'),
      url('~@/assets/scss/basic/Fonts/c70e90bc-3c94-41dc-bf14-caa727c76301.ttf') format('truetype');
}