@import './fonts';

$fontBook: 'AvenirBook';
$borderRadius: 4px;
$heightFilter: 40px;
$transition: 0.2s ease-in-out;

$colors: (
   black: #000000,
   white: #ffffff,
   green: #00ddc2,
   lightGreen: #e6fcf9,
   lightGray: #eeeeee,
   gray: #a3a3a3,
   backFilter: #f5f6fa,
);

$fontSizes: (
   body: 16px,
   medium: 14px,
   label: 12px,
   bigTitle: 24px,
);

$margins: (
   m1: 5px,
   m2: 10px,
   m3: 15px,
   m4: 20px,
   m5: 30px,
);
