.cnt {
   margin-top: map-get($margins, m4);
}

.table {
   width: 100%;
   border-collapse: collapse;

   &--small {
      width: auto;
   }

   &__header {
      color: map-get($colors, gray);

      &__title {
         padding: map-get($margins, m1) map-get($margins, m2);
         font-weight: normal;
         border-bottom: 1px solid map-get($colors, lightGray);
         border-right: 1px solid map-get($colors, lightGray);
         border-left: 1px solid map-get($colors, lightGray);
      }
   }

   &__empty {
      width: 100%;
      color: map-get($colors, gray);
      font-size: map-get($fontSizes, medium);
      margin: map-get($margins, m2) 0;
   }
}
