.table-body {
   color: map-get($colors, black);
   border-bottom: 1px solid map-get($colors, lightGray);
   font-size: map-get($fontSizes, medium);

   &__element {
      padding: map-get($margins, m2);
      text-align: center;
   }
}
