.home {
   margin: map-get($margins, m1) 0;

   &__title {
      font-size: map-get($fontSizes, bigTitle);
      width: 100%;
      text-align: center;
      color: map-get($colors, green);
   }

   &__filters {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 100%;
      min-height: 50px;
      align-items: center;
      border-radius: $borderRadius;

      &--bottom {
         background-color: map-get($colors, backFilter);
         justify-content: flex-start;
      }

      &__section {
         display: flex;
         align-items: center;
         color: map-get($colors, gray);
         font-size: map-get($fontSizes, medium);
      }
   }
}

.error {
   color: map-get($colors, error);
   font-size: map-get($fontSizes, label);
}