.home {
   margin: map-get($margins, m1) 0;

   &__title {
      font-size: map-get($fontSizes, bigTitle);
      width: 100%;
      text-align: center;
      color: map-get($colors, green);
   }

   &__filters {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      width: 100%;
      min-height: 50px;
      align-items: center;
      border-radius: $borderRadius;

      &--bottom {
         background-color: map-get($colors, backFilter);
         justify-content: flex-start;
      }
   }
}
